.wrapper_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 3px solid black;
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.192);
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.autor_info{
    font-size: 18px;
}
.wrapper_hiden{
    display: none;
}
.btn_back:hover{
    cursor: pointer;
    background-color: rgb(176, 179, 176);
    transition: 0.2s;
}