.wrapper_footer{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 10px;
}
a.footer_info{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    color: black;
}
.git_hub:hover {
    color: rgba(124, 117, 108, 0.795);
    transition: 0.2s;
}