.header_container{
    max-width: 60%;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;

}
.header_none{
    display: none;
}
.btn_container{
    display: flex;
    gap: 10px;
}
.btn_header:hover{
    cursor: pointer;
    background-color: rgb(139, 139, 139);
    transition: 0.2s;
}
.user_name{
    font-size: 100%;
    width: auto;
}

@media (max-width: 480px) {
    .btn_container{
        flex-direction: column;
    }
    .btn_header{
        width: 90%;
        font-size: 70%;
    }
    .user_name {
        font-size: 80%;
        width: 80%;
    }
}