body{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container_form{
  display: flex;
  justify-content: center;
	align-items: center;
}
.input_field {
  margin-bottom: 15px;
  width: 100%;
 }

.input_label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}
.input_element {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.input_element:focus {
  outline: none;
  border-color: #4285f4;
  box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.2);
}
.submit_btn {
  width: 50%;
  padding: 12px;
  background-color: #4286f4c7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  margin-left: 60px;
}
.error{
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 4px;
  word-break: break-word;
}
.no_disabled{
  cursor: pointer;
}
.no_disabled:hover{
  background-color: #4286f4;;
}
.error_message{
  background-color: #e61515;
  border-radius: 5px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.form_container{
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
