.wrapper_main {
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    gap: 10px;
}

.users_container {
    border: 1px solid black;
    width: 30%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;
}

.users_message {
    border: 1px solid black;
    width: 70%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.send_form {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.msg_input {
    width: 100%;
    height: 100%;
}

.messages_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid black;
    overflow: scroll;
    padding: 5px;
    scroll-behavior: smooth;
}

.user_item {
    padding: 8px;
    list-style-type: none;
    border: none;
    border-radius: 8px;
}

.user_item.online {
    font-weight: bold;
}

.user_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.13);
    width: 100%;
    cursor: pointer;
    gap: 8px;
}

.user_container:hover {
    background-color: rgba(128, 128, 128, 0.384);
    transition: 0.1s;
}

.indentifiers_online {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    align-self: center;
}

.indentifiers_offline {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    align-self: center;
}

.info_message {
    font-size: 100%;
}

.info_user_container {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    height: 10%;
}

.nik_name_user {
    font-size: 16px;
    font-weight: bold;
}

.status_user {
    color: green;
    font-size: 16px;
    font-weight: bold;
}

.offline {
    color: grey;
}
.message_from {
    padding-bottom: 5px;
    background-color: #b1a8a8;
    margin: 0;
    padding-left: 5px;
    border-bottom: 2px solid;
}

.text_user {
    margin: 0;
    background-color: #8080803d;
    padding: 5px;
} 
 .msg_container,
 .msg_container_you {
     border: 1px solid;
     padding: 5px;
     margin: 5px;
     display: flex;
     flex-direction: column;
     min-width: 30%;
 }

 .msg_container {
     align-self: flex-start;
     background-color: #f1f1f1;
 }

 .msg_container_you {
     align-self: flex-end;
     background-color: #f1f1f1;
 }