.wrapper_main{
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    gap: 10px;
}
.users_container{
    border: 1px solid black;
    width: 30%;
    height: 500px;
    border-radius: 10px;
}
.users_message{
    border: 1px solid black;
    width: 70%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.app-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.send_form{
    padding: 10px;
    display: flex;
    gap: 10px;
}
.msg_input{
    width: 100%;
    height: 100%;
}
.recipient_input{
    width: 40%;
}
.messages_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
}